version: "3.8"

services:
   backend:
      build: ./server
      ports:
         - "4000:4000"
      environment:
         - PORT=4000
      restart: unless-stopped
      volumes:
         - ./server:/usr/src/app
         - /usr/src/app/node_modules
